*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}


header, section{
    overflow-x: hidden;
}

header a{
    color:  #6ED57E;
    font-size: 0.9em;
}

.about-header {
    height: 63px;
}

header .nav-item:last-child{
    padding-right: 7.9em;
}

header.nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 6.5em;
}

header .nav-link:hover{
    color: white;
}

header .row .col-md-5{
    padding: 7.2vmin 1vmin;
}

header .row .col-md-7{
    padding: 25vmin 1vmin;
    padding-bottom: 35vmin;
}

header .navbar{
    background: #003334;
    height: fit-content;
}

.set{
    margin-right: 8em;
    margin-left: 1em;
    background: #6ED57E;
    color: white;
    border: none;
    height: 40px;
    width: 152px;
    border-radius: 8px;
    font-size: 14px;
}

.set:hover{
    background: #ffffff;
    color: #6ED57E;
}



.contact{
    height: 30vh;
    background: #003334;
    margin-top: 1px;
    background-image:linear-gradient(100deg, #003334 55%, #ccf0d2);
}


.left-angle h1{
    margin-left: 126px;
    margin-top: 40px;
    font-size: 56px;
    line-height: 84px;
    color: #6ED57E;
}


.right-angle img{
    width: 58%;
    margin-left: 180px;
}

.left-angle p{
    margin-left: 126px;
    color: white;
    font-size: 32px;
    line-height: 48px;
}


footer{
    height: 45vh;
    width: 100%;
    background: #003334;
    margin-top: 160px;
}

.input-group{
    margin-top: 55px;
}

.input-group .form-control{
    height: 55px;
    border-radius:6px;
    box-shadow: none!important;
}

.btn{
    width: 130px;
}

.btn-success{
    background: #6ED57E !important;
    border-radius: 5px !important;
    box-shadow: none !important;
}

.footer-new{
    margin-top: 55px;
}

.footer-new p{
    color: white;
    margin-left: 55px;
    font-size: 37px;
}

.footer-1{
    text-align: center;
    color: #6ED57E;
    font-size: 17px;
    padding-top: 25px;
}

.footer-2{
    text-align: center;
    color: white;
    font-size: 20px;
    
}

footer hr{
    width: 100%;
    background: #6ED57E;
    margin-top: 40px;
}

.icon{
    padding-top: 30px;

}


.icon a{
    padding: 10px;
    border-radius: 60px;
    background: #6ED57E;
    margin: 6px;
    padding-top: 15px;
    text-align: center;
}

.icon i{
    padding: 5px;
    list-style-type: none;
    text-decoration: none;
    color: #003334;
}


.contact-formm .form-control{
    border-radius:0.5rem;
    height: 70px;
    margin-top: 50px;
    box-shadow: none !important;
    outline: #6ED57E !important;
}

.contact-formm form{
    margin: 125px;
}
.contact-formm form .row{
    margin-bottom: -7%;
}

.contact-formm .btnContact {
    width: 100%;
    border: none;
    border-radius:0.5rem;
    padding: 1.8%;
    background: #003334;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 130px;
}

.contact-formm .btnContact:hover{
    background: #6ED57E;
}


@media(max-width: 320px){
    
    .ul-bg{
        background-color: #003334;
        height: 40vh;
        padding: 20px;
    }
    
    .navbar{
        line-height: 0.5;
    }
    
    .set{
        margin-left: -2px !important;
        background: #6ED57E;
        color: white;
        font-size: 10px;
        width: 35%;
        height: 25px;
    }

    .left-angle h1{
        margin-left: 15px;
        margin-top: 5px;
        font-size: 15px;
    }

    .left-angle p{
        margin-left: 15px;
        margin-top: -32px;
        font-size: 12px !important;
        line-height: 15px;
        display: block;
        width: 50%;
    }

    .right-angle img{
        width: 70%;
        height: 211px !important;
        margin-top: -140px;
        margin-left: 140px;
    }

    .contact-formm .form-control{
        height: 50px;
        margin-top: 50px;
    }
    
    .contact-formm form{
        margin: 45px;
    }
    .contact-formm form .row{
        margin-bottom: -1%;
    }
    
    .contact-formm .btnContact {
        width: 100%;
        margin-top: 30px;
    }

    .footer-new p{
        font-size: 20px;
        margin-left: -1px;
        margin-top: -30px;
    }

    .btn{
        margin-top: -25px;
    }
    
    .input-group .form-control{
        height: 40px;
        margin-top: -25px;
    }

    
    .footer-1{
        font-size: 12px;
        padding-top: 25px;
    }
    
    .footer-2{
        font-size: 13px;
    }

    footer{
        height: 65vh;
    }   
}


@media(max-width: 375px){
     
    .ul-bg{
        background-color: #003334;
        height: 40vh;
        padding: 20px;
    }

    .navbar{
        line-height: 0.5;
    }
    
    .set{
        margin-left: -2px !important;
        background: #6ED57E;
        color: white;
        font-size: 10px;
        width: 35%;
        height: 25px;
    }

    .left-angle h1{
        margin-left: 15px;
        margin-top: 5px;
        font-size: 15px;
    }

    .left-angle p{
        margin-left: 15px;
        margin-top: -32px;
        font-size: 12px;
        line-height: 15px;
        display: block;
        width: 50%;
    }

    .right-angle img{
        width: 70%;
        height: 195px;
        margin-top: -140px;
        margin-left: 140px;
    }
    

    .contact-formm .form-control{
        height: 50px;
        margin-top: 50px;
    }
    
    .contact-formm form{
        margin: 45px;
    }
    .contact-formm form .row{
        margin-bottom: -1%;
    }
    
    .contact-formm .btnContact {
        width: 100%;
        margin-top: 30px;
    }

    .footer-new p{
        font-size: 20px;
        margin-left: -1px;
        margin-top: -30px;
    }

    .btn{
        margin-top: -25px;
    }
    
    .input-group .form-control{
        height: 40px;
        margin-top: -25px;
    }

    
    .footer-1{
        font-size: 12px;
        padding-top: 25px;
    }
    
    .footer-2{
        font-size: 13px;
    }

    footer{
        height: 65vh;
    }   
}


@media(max-width: 425px){
    .ul-bg{
        background-color: #003334;
        height: 40vh;
        padding: 20px;
    }

    .navbar{
        line-height: 0.5;
    }
    
    .set{
        margin-left: -2px !important;
        background: #6ED57E;
        color: white;
        font-size: 10px;
        width: 35%;
        height: 25px;
    }

    .left-angle h1{
        margin-left: 15px;
        margin-top: 5px;
        font-size: 15px;
    }

    .left-angle p{
        margin-left: 15px;
        margin-top: -32px;
        font-size: 14px;
        line-height: 15px;
        display: block;
        width: 50%;
    }

    .right-angle img{
        width: 69%;
        height: 240px;
        margin-top: -110px;
        margin-left: 140px;
    }

    header .navbar-brand{
        padding-left: 6em;
    }

    .contact-formm .form-control{
        height: 50px;
        margin-top: 50px;
    }
    
    .contact-formm form{
        margin: 45px;
    }
    .contact-formm form .row{
        margin-bottom: -1%;
    }
    
    .contact-formm .btnContact {
        width: 100%;
        margin-top: 30px;
    }

    .footer-new p{
        font-size: 20px;
        margin-left: -1px;
        margin-top: -30px;
    }

    .btn{
        margin-top: -25px;
    }
    
    .input-group .form-control{
        height: 40px;
        margin-top: -25px;
    }

    
    .footer-1{
        font-size: 12px;
        padding-top: 25px;
    }
    
    .footer-2{
        font-size: 13px;
    }

    footer{
        height: 65vh;
    }   
}
